    <div class="d-flex justify-content-center w-50 mx-auto mb-5">
        <img src="https://uploads-ssl.webflow.com/616f4e781182261bbc0a79b2/6188963a26f208cf9ba866de_ZAK_Primary.svg" class="rounded mx-auto d-block w-25 " alt="...">
    </div>
    <form action="/auth" method="POST">

            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title mx-auto" id="exampleModalLongTitle">
                            <img class="rounded" src="https://icons-for-free.com/iconfiles/png/512/neutral+user-131964784832104677.png"
                                width="65rem">
                        </div>
                        <div class="position-absolute fixed-top p-2">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body" id="datepicker">
                        <div class="form-group ml-2 mr-2 py-4">
                            <label for="recipient-name1"
                                class="col-form-label font-weight-normal">Nome do usuário</label>
                            <input placeholder="Usuário" name="nameUser" type="text" class="form-control" id="recipient-name1" required>
                            <label for="recipient-name2"
                            class="col-form-label font-weight-normal">Senha</label>
                            <input placeholder="Senha" name="password" type="password" class="form-control" id="recipient-name2" required>
                        </div>
                    </div>
                    <button type="submit"
                        class="btn btn-info mx-auto w-50 mb-4">Fazer Login</button>
                    <div class="modal-footer">
                        <small class="text-muted text-center px-4 pb-3 rem mx-auto">
        
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </form>

    